
/* VARIABLES */
:root{
    /* --button-bg-color: rgb(215, 146, 106);
    --button-txt-color: rgb(24, 0, 178); */
    --button-bg-color: rgb(255, 202, 110);
    --button-txt-color: rgb(0, 98, 245);
}


/* UTILITY CLASSES */
.fades{
    opacity: 0;
    transition: opacity 1s;
}


/* GENERAL RULES */
    *{
        font-family: 'trebuchet ms', 'arial', sans-serif;
        text-align: center;
        outline-offset: 1px;
    }

    body{
        background-color: rgb(166, 204, 236);
        display: flex;
        height: 95vh;
        flex-direction: column;
        justify-content: center;
    }


    h1{
        font-size: 40px;
        padding: 30px 0 10px;
        margin: 0;
        font-family: 'helvetica', 'arial', sans-serif;
        flex-grow: 0;
    }

    h2{
        font-size: 35px;
        padding-top: 10px;
        margin: 0;
        font-family: 'helvetica', 'arial', sans-serif;
        flex-grow: 0;
    }

    h3{
        font-size: 28px;
        margin: 0;
        padding: 30px 0;
    }

    h4{
        font-size: 22px;
        margin: 0;
        padding: 20px 0;
    }

    h5{
        font-size: 20px;
        margin: 0;
    }

    p{
        margin: 0;
        line-height: 1.5;
    }

    a{
        transition: .1s;
        cursor: default;
        color: var(--button-txt-color);
        text-decoration: underline var(--button-txt-color);
    }
    a:hover{
        opacity: .6;
    }

    main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        padding-top: 30px;
    }

    .btn{
        font-size: 17px;
        font-weight: bolder;
        padding: 5px 13px;
        margin: 5px 15px;
        border-radius: 18px;
        background-color: var(--button-bg-color);
        color: var(--button-txt-color);
        border: 2px solid var(--button-txt-color);
        transition: .2s;
        width: fit-content;
        flex-grow: 0;
    }
    .btn:hover{
        background-color: var(--button-txt-color);
        color: var(--button-bg-color);
        border-color: var(--button-bg-color);
    }
    
    .btn[disabled]{
        color: darkgray;
        background-color: lightgrey;
        border-color: darkgray;
    }

    form{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    input{
        border-radius: 5px;
        border: 1px solid black;
        text-align: left;
        padding: 5px 0 5px 10px;
        width: 210px;
        margin: 10px 0;
    }
    
    input[type='checkbox']{
        width: auto;
        margin: 5px 10px 0 0;
    }
    label{
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    form > input:last-of-type{
        margin-bottom: 0;
    }

    .checkbox-wrapper{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 10px 0;
    }
    .checkbox-wrapper label, .checkbox-wrapper label p{
        text-align: left;
    }

    



/* SUBHEADER */
    .subheader-all-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    .subheader-all-wrapper h3{
        font-size: 19px;
        margin: 4px 0;
        font-weight: normal;
        padding: 0;
    }

    .subheader-left-wrapper{
        text-align: left;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .subheader-left-wrapper a{
        margin: 5px 0;
    }
    .subheader-left-wrapper a:first-of-type{
        margin-top: 10px;
    }

    .subheader-right-wrapper h3{
        text-align: right;
        margin-right: 30px;
    }






/* LOGIN FORMS */
    .form-intro-text{
        text-decoration: underline black;
        width: 100%;
        padding-bottom: 10px;
    }

    .show-password-checkbox-wrapper{
        margin: 10px 10px 10px 0;
    }

    .show-password-label{
        font-size: 15px;
    }

    .show-password-checkbox{
        opacity: 0;
        display: inline-block;
        position: relative;
        top: 7px;
        left: 21px;
    }
    .show-password-label::before{
        content: '';
        display: inline-block;
        height: 25px;
        width: 25px;
        background-image: url('..//images/hide-password-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        left: -8px;
        top: 12px;
    }
    .show-password-checkbox:checked + label::before{
        background-image: url('..//images/show-password-icon.png');
        top: 6.8px;
    }

    input.confirm-terms-checkbox{
        height: 15px;
        width: 15px;
    }

    .confirm-terms-checkbox-wrapper{
        width: 90%;
        border-radius: 5px;
    }

    .confirm-terms-label{
        flex-basis: 70%;
    }

    .confirm-terms-label span{
        font-weight: bolder;
    }

    .login-submit-btn{
        margin-bottom: 12px;
        font-size: 18px;
    }

    .errors{
        color: darkred;
        font-weight: bold;
        font-style: italic;
        font-size: 15px;
    }


/* PRE-QUIZ */
    .pre-quiz-wrapper{
        width: 80%;
    }

    .start-quiz-info{
        font-size: 20px;
        margin-top: 15px;;
        margin-bottom: 30px;;
    }

    .start-quiz-info br{
        height: 5px !important;
    }


/* GLOBAL HIGH SCORES */
    .global-high-scores-title{
        padding: 0;
        text-decoration: underline black;
    }

    .global-high-scores-list{
        list-style: none;
        padding: 0;
    }

    .global-high-scores-list li{
        text-align: left;
        margin: 8px 0;
        font-size: 18px;
    }

    .global-high-scores-list li span{
        font-weight: bolder;
    }

    .global-high-scores-list li span.this-user{
        font-weight: bold;
        font-style: italic;
    }

    .global-high-scores-list-empty{
        padding-top: 25px;
        font-size: 18px;
        line-height: 1.6;
    }



/* QUIZ */
    .timer-penalty{
        color: darkred;
    }
    .timer-penalty span{
        font-family: 'Courier New', Courier, monospace;
    }

    .quiz-wrapper{
        width: 90%;
    }

    .question-text{
        padding-top: 30px;
        padding-bottom: 25px;
    }

    .choices-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .choice-btn{
        min-width: 500px;
        text-align: left;
    }

    .question-correct{
        color: darkgreen;
    }



/* QUIZ END */
    .quiz-end-text{
        font-weight: normal;
        line-height: 1.5;
        padding-bottom: 35px;
    }

    .quiz-end-text span{
        font-weight: bolder;
    }






/* FOOTER */
    footer{
        text-align: center;
    }

    footer span{
        border-right: 1.5px solid black;
    }